body {
  text-align: center;
  /* filter: invert();
  background-color: black; */
}

.form {
  background-color: white;
  display: inline-block;
  margin-top: 20vh;
  width: 25vw;
  height: 60vh;
  box-shadow: 0px 1px 4px 0px rgb(50, 50, 50);
  border-radius: 5px;
}

.form:hover {
  box-shadow: 0px 3px 8px 0px rgb(50, 50, 50);
}

.form > form {
  margin-top: 15%;
}

input {
  width: 220px;
  height: 33px;
  outline: none;
}
a {
  color: rgba(44, 116, 42, 1);
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

img {
  margin: 10%;
  margin-bottom: 2%;
}
.detail {
  display: block;
}

button {
  width: 220px;
  height: 40px;
  font-size: 120%;
  border-radius: 8px;
  outline: none;
  background-color: rgb(62, 153, 58);
}

button:hover {
  background-color: rgba(44, 116, 42, 1);
  color: white;
  cursor: pointer;
}

.loginIcon {
  width: 120px;
  height: 120px;
}

.errorMsg {
  color: red;
  visibility: hidden;
}
