body {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  /* filter: invert();
  background-color: black; */
}

h1 {
  font-size: 4vw;
  color: rgb(54, 131, 9);
}

.title {
  font-size: 25px;
  margin: 2%;
  padding-bottom: 4%;
  box-shadow: 0px 2px 0px rgb(150, 150, 150);
  white-space: nowrap;
  overflow: auto;
}

.leftTime {
  font-size: 18px;
}

.titleBox {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
}

.header {
  text-align: center;
  color: rgb(54, 131, 9);
  background-image: linear-gradient(rgb(201, 201, 201), rgb(250, 250, 250));
}

.addTodoIcon {
  height: 6vh;
}
.todoBox {
  text-align: center;
  display: inline-block;
  margin-top: 25%;
}

.option {
  display: flex;
  background-image: linear-gradient(rgb(220, 220, 220), rgb(250, 250, 250));
  border-radius: 20px;
}

.form {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

.add {
  border-radius: 5px;
  height: 5vh;
  width: 10vw;
  font-size: 2vh;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 2vh;
}

.items {
  height: 32vh;

  overflow: scroll;
  margin-bottom: 5vh;
}

.tickItem {
  zoom: 1.8;
  margin-bottom: auto;
  margin-top: auto;
}

.close {
  height: 5vh;
  margin-right: 94%;
}

.option:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(250, 250, 250), rgb(29, 165, 69));
}
.add:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(250, 250, 250), rgb(29, 165, 69));
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
}

.pen {
  position: absolute;
  height: 50vh;
  top: 30%;
  left: 5%;
}

.background {
  background-image: repeating-radial-gradient(
    rgb(250, 250, 250),
    rgb(203, 236, 217)
  );
}

.todo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
  height: 60vh;
}

.showTitle {
  box-shadow: 4px 4px 5px rgb(150, 150, 150);
  border-radius: 10px;
  font-size: 2vw;
  height: 22vh;
  width: 25vw;
  margin: 2%;
  background-color: white;
}

.showItems {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  border-radius: 10px;
  font-size: 20px;
  height: 6vh;
  width: 40vw;
  overflow: scroll;
  text-align: left;
}

.showTitle:hover {
  background-image: linear-gradient(rgb(250, 250, 250), rgb(192, 214, 199));
  box-shadow: 6px 6px 4px rgb(150, 150, 150);
  display: block;
}

.todoDetail {
  justify-self: start;
  z-index: 2;
  position: absolute;
  top: 0;
  transition: 1s;
  width: 100vw;
  height: 100vh;
  margin-top: -100vh;
  background-color: rgb(220, 220, 220);
}

.tick {
  margin-top: 1vh;
}

.titleHeading {
  color: black;
  margin-left: auto;
  margin-right: auto;

  /* border-bottom: 1px solid black; */
}

.delete {
  height: 75%;
  width: 8%;
  margin-top: auto;
  margin-bottom: auto;
  /* display: none; */
}

.icons {
  display: flex;
  margin: 10%;
  justify-content: space-between;
}

.deleteTodo {
  height: 5vh;
  width: 3vw;
  margin-top: 3%;
  border-radius: 50%;
}

.detailIcon {
  height: 5.5vh;
  width: 3vw;
  margin-top: 3%;
}

.detailIcon:hover {
  cursor: pointer;
}

.deleteTodo:hover {
  cursor: pointer;
}

.item {
  height: 60vh;
  overflow: scroll;
  text-align: center;
  display: inline-block;
}

.input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 30vw;
  height: 4vh;
  margin-top: 0.2%;
  text-align: center;
  font-size: 1.4vw;
}

.addInput {
  /* transform: scale(0); */
  margin-left: 30%;
  margin-right: 30%;

  height: 10vh;
  border: 1px solid black;
  top: 0;
}
