body {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  /* filter: invert(); */
  /* background-color: black; */
}

h1 {
  font-size: 4vw;
  color: rgb(54, 131, 9);
}

p {
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}

.titleHeading {
  font-size: 3.4vw;
  color: rgb(50, 50, 50);
  font-weight: 400;
  background-color: rgb(220, 220, 220);
}

.formHeading {
  font-size: 2.2vw;
  color: rgb(50, 50, 50);
  font-weight: 400;
  margin: 2% 8%;
  background-color: rgb(220, 220, 220);
}

.icon {
  height: 30px;
}
.icon:hover {
  cursor: pointer;
}

.header {
  display: flex;
  font-size: 7vh;
  color: rgb(54, 131, 9);
  margin-top: -2%;
  margin-bottom: -4%;
}

.menuBar {
  margin-left: 35vw;
  margin-top: 10vh;
}

.showTitle {
  display: flex;
  box-shadow: 0px 0px 2px 1px rgb(150, 150, 150);
  border-radius: 5px;
  min-height: 5vh;
  width: 24.5vw;
  margin: 3% 1%;
}

.showTitle:hover img {
  display: block;
  cursor: pointer;
  pointer-events: auto;
}

.showTitle > img {
  pointer-events: none;
}

.showTitle:hover {
  background-image: linear-gradient(rgb(250, 250, 250), rgb(54, 131, 9));
}

.title {
  font-size: 1.4vw;
  width: 18vw;
  margin: 2.4%;
}

.todoHistory {
  display: flex;
}

.todo {
  height: 45vw;
  overflow: scroll;
  width: 25vw;
  border-right: 1px solid black;
}

.todoDetail {
  overflow: scroll;
  transform: scale(0);
}

#showItemList {
  border: 1px solid black;
  height: 34vw;
}

.showItems {
  margin: auto;
  width: 34vw;
  height: 26vw;
  overflow: scroll;
  border-radius: 8px;
}

.list {
  height: 20vw;
  overflow: scroll;
  font-weight: 200;
}

.item {
  margin: auto;
  display: flex;
  box-shadow: 1px 1px 1px rgb(50, 50, 50);
  height: 3vw;
  font-size: 18px;
  font-weight: 200;
}

.item:hover img {
  display: block;
  cursor: pointer;
}

.item > p {
  width: 29vw;
}

p:hover {
  font-weight: 400;
}

.task {
  width: 34vw;
}

.right {
  display: flex;
}
.right > div {
  position: absolute;
  margin-top: 1.5vw;
  transition: 0.5s;
  width: 35vw;
  left: 45vw;
}

.form {
  z-index: 2;
  height: 40vw;
  transform: scale(0);
  border: 1px solid black;
  font-size: 1.5vw;
}

.tickItem {
  zoom: 1.8;
  margin-bottom: auto;
  margin-top: auto;
}

.close {
  margin-top: auto;
  margin-bottom: auto;
  height: 1.5vw;
  display: none;
}

.input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 30vw;
  height: 4vh;
  margin-top: 0.2%;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.addInput {
  margin-left: 30%;
  margin-right: 30%;
  height: 10vh;
  border: 1px solid black;
  top: 0;
}

.searchBar {
  width: 30vw;
  font-size: 1.5vw;
}

#searchFor {
  background-image: linear-gradient(rgb(250, 250, 250), rgb(220, 220, 220));
  zoom: 1.5;
  margin-bottom: 1vw;
}

.popUp {
  z-index: 10;
  position: absolute;
  margin-top: 10vw;
  margin-left: 50vw;
  transform: scale(0);
  box-shadow: 0 1px 2px 0 black;
  border-radius: 5px;
  width: 20vw;
  height: 10vw;
  transition: 0.2s;
  background-color: rgb(220, 220, 220);
}

button {
  height: 30px;
  width: 75px;
  border-radius: 5px;
  background-image: linear-gradient(rgb(240, 240, 240), rgb(250, 250, 250));
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(250, 250, 250), rgb(54, 131, 9));
}

.deleteTodoPopUp {
  z-index: 10;
  transform: scale(0);
  box-shadow: 0 1px 2px 0 black;
  border-radius: 5px;
  width: 15vw;
  height: 10vw;
  transition: 0.2s;
}
